<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burzaco Market</title>
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>

        <a href="../index.html" class="logo">
            <img src="../img/logo BM.jpeg" alt="Logo burzaco Market"></a>

        <nav>
            <ul>
                <li><a href="../views/productos.html" target="_blank">Productos</a> </li>
                <li><a href="../views/nosotros.html" target="_blank">Nosotros</a></li>
                <li><a href="../views/envios.html" target="_blank">Envios</a> </li>
                <li><a href="../views/contacto.html" target="_blank">Contacto</a> </li>
            </ul>
        </nav>
    </header>
    <div>
        <fieldset>
            <legend class="text-center">Que estas buscando</legend>
            <label for="que estas buscando"></label>
            <input type="text" id="que estas buscando" placeholder="que estas buscando">
        </fieldset>
    </div>

    <div>

        <img src="../img/imagenes termos/Originals/termoshorizontales.jpg" alt="foto de productos">

    </div>
    <h1>Encontras lo que buscas</h1>
    <main>
        <!-- inicia form-->
        <section>
            <form action="envio.php">
                <fieldset>
                    <legend>info personal</legend>
                    <label for="name"> nombre</label>
                    <input type="text" id="name" placeholder="juan Perez">
                    <label for="email">email</label>
                    <input type="email" id="email" placeholder="mail@burzaco market">
                </fieldset>
                <fieldset>
                    <legend>Articulos</legend>
                    <label for="mates">mates</label>
                    <input type="checkbox" id="mates" value="mates">
                </fieldset>
                <fieldset>
                    <legend>info de envios</legend>
                    <label for="local">retiro en local</label>
                    <input type="radio" id="local" name="envio" value="local">
                    <br>
                    <label for="envio">envio</label>
                    <input type="radio" id="envio" name="envio" value="local">
                </fieldset>
                <fieldset>
                    <label for="comprar">comprar</label>
                    <input type="button" id="comprar" value="comprar">
                </fieldset>
            </form>
        </section>
        <!--ends form-->
    </main>

    <footer>
        <h3>Nuestras Redes Sociales</h3>
        <a href="https://www.facebook.com/burzaco-market-103549792372742/" target="_blank">
            <img src="../img/iconos redes sociales/logo FB.png" alt="link a facebook"></a>

        <a href="https://www.instagram.com/burzaco_market?igshid=ymmymta2m2y=" target="_blank">
            <img src="../img/iconos redes sociales/logo insta.png" alt="lik a instagram"></a>

        <a href="https://www.twitter.com" target="_blank">
            <img src="../img/iconos redes sociales/logo twitter.png" alt="link a twitter"></a>

        <a href="https://mail.google.com/burzacomarket@gmail.com" target="_blank">
            <img src="../img/iconos redes sociales/logo wts.png" alt="email"></a>
    </footer>
</body>

</html>